<div>
    <h1><strong>Welcome to Fun2app....</strong></h1>
</div>
<hr>
<br>
<div class="container">
    <div class="card">
        <a href="/hoverboard" id="one">Click here to get a hoverboard</a>
        <br>
        <a href="/TicTacToe" id="two">Click here to get Tic Tac Toe</a>
    </div>
</div>